.nav {
    width: 100%;
    height: 60px;
}

.nav-wrap {
    width: 100%;
    height: 100%;
}

.opt {
    width: 23%;
}

.opt i {
    width: 40px;
    height: 40px;
}

.logo img {
    height: 24px;
    width: 120px;
}

.nav-icon {
    width: 22%;
}

.item-wrap {
    width: 50%;
}

.items li {
    padding: 20px 40px 0px 40px;
}

.items a {
    text-decoration: none;
    color: black;
}

.content {
    width: 100%;
    height: 500px;

}

.five-img img {
    width: 80%;
}

.foot-list a {
    text-decoration: none;
    color: black
}

.sidebar {
    display: none;
    width: 318px;
    height: 400px;
    background-color: white;
    position: absolute;
    left: 1px;
    color: black;
}

.close {
    margin: 5px;
    text-decoration: none;
    color: black;
}

li a {
    text-decoration: none;
    color: black;
}
